//fonts
$tiny-font: 10px;
$small-font: 12px;
$base-font: 14px;
$font-20: 20px;
$medium-size: 18px;
$font-16: 16px;
$extra-large-font: 24px;
$jumbo-font: 48px;


//border radius
$border-radius: 2px;
//colors
$grey_1: #414146;
$grey_2: #b4b4be;

$orange: #ffa000;
$danger: #ff2c00;
$green: #01a400;
$white: #ffffff;

// textboxes
$tbox_height: 28px;
$m_tbox_height: 40px;

